html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url('../images/2ndpage.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items: center;
}

h1 {
    font-family: 'Megrim', cursive;
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    font-variant: small-caps;
    color: white;
    background-color: #318973;
    border-style: solid;
    border-width: 4px 6px 4px 6px;
    margin-top: 0px;
    border-top-color: #3A9C85;
    border-left-color: #3A9C85;
    border-right-color: #1A4F47;
    border-bottom-color: #0D3431;
    padding-bottom: 0px;
    padding-top: 0px;
}

.jumbotron {
  background: none;
  left: 2%;
  margin-bottom: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  ;
}

form {
    width: 85%;
    margin: 0 auto;
    /* padding: 10px 10px 10px 10px; */
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.form-group {
    margin-left: 2%;
    padding-bottom: 1px;
}

label {
    margin-bottom: 2px;
    margin-top: 0px;
}

.flex {
  display: flex;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 1s;
  visibility: hidden;
  opacity: 0;
}

.popup {
  padding: .5rem;
  width: 10rem;
  position: absolute;
  top: 15%;
  right: calc(50% - 5rem);
  /* transition: all 200ms; */
}

.popup,
.welcome,
#drinksField {
  background-color: #fff;
}

.popup,
.welcome,
#bac,
#drinksField,
#map {
  border-radius: 5px;
}

.welcome {
  padding: 1.2rem;
}

.top {
  margin: 1rem 0;
}

.outerMap {
  width: 400px;
  height: 400px;
}

.drinks,
.outerMap {
  width: 100%;
}

#map {
  height: 100%;
}

#drinksField {
  padding: 1rem;
  background-color:
}

#bacLevel,
#bac,
.outerMap {
  margin: 0 auto;
}

#bacLevel {
  font-weight: bold;
  font-size: 1.5rem;
}

#bac {
  font-size: .75rem;
  transition: background-color 1s linear;
  background-color: rgba(60, 120, 5, 0.8);
  width: 7rem;
  height: 7rem;
  align-items: center;
}

.btn {
  background-color: #FC6F3A;
  border-color: #FA6135;
  color: white;
}
.btn:hover {
  background-color: #5A5A8E;
  border-color: #303352;
  color: white;
}

.nav-item {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.nav-item:hover {
  background-color: #FDABAF;
  color: white;
}

img:hover {
  cursor: pointer;
}

.buttonsMap button {
  margin: .1rem 0;
}

/*
#beer {
  border-style: solid;
  border-width: 1px;
  border-color: #FA6135;
}

#cocktail {
  border-style: solid;
  border-width: 1px;
  border-color: #FA6135;
}

#shot {
  border-style: solid;
  border-width: 1px;
  border-color: #FA6135;
}

#wine {
  border-style: solid;
  border-width: 1px;
  border-color: #FA6135;
}

#beer:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #303352;
}

#cocktail:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #303352;
}

#wine:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #303352;
}

#shot:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #303352;
} */

@media only screen and (max-width: 766px) {
  .outerMap {
    width: 275px;
    height: 275px;
  }

  #beer{
    width: 50px;
    height: 50px;
  }

  #cocktail{
    width: 50px;
    height: 50px;
  }

  #shot{
    width: 50px;
    height: 50px;
  }

  #wine{
    width: 50px;
    height: 50px;
  }

  h1 {
      font-family: 'Megrim', cursive;
      text-align: center;
      font-size: 60px;
      font-weight: 500;
      font-variant: small-caps;
      color: white;
      background-color: #318973;
      border-style: solid;
      border-width: 4px 6px 4px 6px;
      margin-top: 0px;
      border-top-color: #3A9C85;
      border-left-color: #3A9C85;
      border-right-color: #1A4F47;
      border-bottom-color: #0D3431;
      padding-bottom: 0px;
      padding-top: 0px;
  }

}
